.ant-avatar {
  .ant-avatar-string {
    height: 100%;
  }
  .avatar-text {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
}
