@import "../../styles/utils.scss";
.common-button {
  border-radius: 2px;
  width: 100%;
  text-align: left;
  height: auto;

  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: center;
  border: 1px solid $text-secondary;
  border-radius: em(4);
  padding: em(8) em(16);
  margin: em(5) 0;
  // opacity: 0.5;
  cursor: pointer;
  span {
    //   color: @gray-1;
    font-size: em(14);
    color: $placeholder-text-color;
    //   font-weight: 500;
  }
  &:hover,
  &:focus {
    border: 1px solid $text-secondary;
    color: $placeholder-text-color;
  }
  i {
    margin-right: 10px;
  }
}
