@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../src/styles/utils.scss";
:root {
    --font-family-sans: "Inter", sans-serif;
}

::-webkit-scrollbar {
    width: 7px;
    height: 6px;
    display: none;
}

::-webkit-scrollbar-track {
    border-radius: 3px;
    background-clip: padding-box;
    background-color: transparent;
    display: none;
}

::-webkit-scrollbar-thumb {
    border-radius: 3px !important;
    background-clip: padding-box !important;
    background-color: $scroll-color !important;
    display: none;
}

.rc-virtual-list-scrollbar-thumb {
    background-color: $scroll-color !important;
    display: none;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    font-family: var(--font-family-sans);
    font-weight: 400;
}

.ant-form-item {
    margin-bottom: em(20) !important;
}
.ant-checkbox-inner,
.ant-checkbox-input {
    transform: scale(1.2);
}

.otp-input {
    width: em(60);
    height: em(60);
    border: 1px solid #e2e2e2 !important;
    border-radius: em(12);
    font-size: 18px;
    font-weight: 400;
}

.otp-input:focus {
    outline: none !important;
}

.border-bottom {
    border-bottom: 1px solid $stroke-light;
}
.border-left {
    border-left: 1px solid $stroke-light;
}
.border {
    border: 1px solid $stroke-light;
}

.ant-badge-status-dot {
    width: 14px !important;
    height: 14px !important;
}

.resend-btn {
    background-color: transparent !important;
}

.ant-select-item-option-active {
    background-color: $dark-orange !important;
    color: white !important;
}

.ant-form-item-explain-error {
    margin-bottom: em(8);
}

.ant-select-selection-placeholder {
    color: $light-text !important;
}

.custom-send-message {
    .ant-form-item {
        margin-bottom: 0px !important;
    }
}

html {
    font-size: 16px;
}
@media (max-width: 1400px) {
    html {
        font-size: 14px;
    }
}
/* Style for the delete button */
.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: red;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    z-index: 200;
    display: none; /* Initially hidden */
}

.custom-grid{
    position: relative;
}
.my-btn{
    position: absolute;

}
/* Show the delete button when hovering over a container */
.react-grid-item:hover .delete-button {
    display: block;
}

/* Optional: Add some hover effect to the button */
.delete-button:hover {
    background: darkred;
}

body {
    font-family: sans-serif;
    background: #171819;
  }
  
  .grid-item {
    background: #212124;
    border: 1px solid #141414;
    display: flex;
    flex-direction: column;
  }
  
  .grid-item__title {
    font-size: 14px;
    color: #fff;
    padding: 4px 0;
    text-align: center;
  }
  .grid-item__title:hover {
    cursor: move;
  }
  .grid-item__title .panel {
    box-shadow: none;
    border: none;
  }
  .grid-item__title .panel:focus {
    outline: none;
  }
  .grid-item__title .panel-heading {
    padding: 3px 0;
    background: #171819;
    border: none;
    color: rgba(255, 255, 255, 0.7);
  }
  .grid-item__title .panel-body {
    padding: 0 0 0 15px;
    background: #171819;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .grid-item__graph {
    flex: 1;
  }
  
  .type-item {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    padding: 3px 0;
  }
  .type-item:hover {
    color: #fff;
  }
  
  .type-item.selected {
    color: #fff;
  }
  
  .data-edit__error {
    color: rgba(255, 0, 0, 0.7);
    font-size: 12px;
    padding: 3px 0;
  }
  
  .recharts-text {
    font-size: 12px;
  }
  
  .detail__info {
    color: #fff;
    padding: 20px;
  }
  
  .detail__edit {
    padding: 20px;
  }
  
  .detail__info > div {
    padding: 5px 0;
  }
  
  label {
    color: #fff;
    display: block;
  }
  .dropdown > .btn-default,
  .dropdown.open > .btn-default {
    background: #171819;
    border: 1px solid #141414;
    color: #fff;
  }
  .dropdown > .btn-default:hover,
  .dropdown > .btn-default:focus .dropdown.open > .btn-default:hover,
  .dropdown.open > .btn-default:focus {
    background: #171819;
    border: 1px solid #141414;
    color: #fff;
    outline: none;
  }
  
  .dropdown-menu {
    border: 1px solid #141414;
    background: #171819;
    color: #fff;
  }
  .dropdown-menu > li > a {
    color: rgba(255, 255, 255, 0.7);
  }
  .dropdown-menu > li > a:hover {
    background: #171819;
    color: #fff;
  }
  
  .react-grid-item > .react-resizable-handle::after {
    border-right-color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
  }
  
  .modal-body {
    padding: 0;
  }
  
  .data-edit {
    position: relative;
  }
  .data-edit__update {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 10;
  }
  
  .detail-page__title,
  .edit-page__title {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
  }
  
  .go-back {
    position: fixed;
    right: 20px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    top: 20px;
    z-index: 10;
  }
  
  .go-back:hover {
    color: #fff;
    cursor: pointer;
  }
  

  .wrapper-container{
    height: 100vh;
    // background-color: $dark-orange;
    .left-container{
        // background-color: $dark-orange;
        // background-color: green;
        background-image: url(../../assets/images/AuthBackground.jpg);
        background-repeat: no-repeat;
        object-fit: cover;
        background-size: 100% 100%;
        height: 100vh;  
        position: sticky;
        top:0;
    }
}
